* {
	@import url('https://fonts.googleapis.com/css?family=Raleway');
}
body {
	font-family: verdana, helvetica, arial, sans-serif;
	font-size: 80%;
	margin: 0;
	padding: 0;
	background-color : #ffff00;
	
}


p,h1,h2,h3,main {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 85%;
	
}

h1 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 200%;
    
	font-weight: bold;
}

h2 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 160%;
    color: #833C40;
	font-weight: bold;
}


h3 {

	font-size: 110%;
      color: #FF0000;
	
}

a {
	font-family: 'Raleway', sans-serif;
	color: #DC143C;
	text-decoration: none;
	


}
a:hover {
	font-size: 32px;
	text-transform: uppercase;
	
}



